In [47]:
import pandas as pd
import os

In [48]:
directory = '/groups/gerlich/members/SofiaKolesnikova/Bookclub/'

In [42]:
for filename in os.listdir(directory):
    if filename.endswith(".txt"):
        with open(filename) as f:
            df = pd.read_csv(f, sep = '\t')
            df = pd.melt(df, id_vars = "Absolute time", var_name='trace')
            df['trace'] = df['trace'].str.replace('Trace', '').astype('float')
            df.to_csv(filename.split('.')[0] + '_tidy.csv', index = False)

In [49]:
df

      Absolute time  trace     value
0                 0  140.0  6.929464
1                 1  140.0  6.964351
2                 2  140.0  6.973203
3                 3  140.0  6.974659
4                 4  140.0  6.941163
...             ...    ...       ...
1405              0  205.0  6.800940
1406              1  205.0  6.684783
1407              2  205.0  6.686730
1408              3  205.0  6.687513
1409              4  205.0  6.686474

[1410 rows x 3 columns]